
.projects-display-section {
/* border:2px solid ; */
box-shadow: 2px 2px 2px whitesmoke;
background-color: whitesmoke;
margin-left: 10px;
margin-top:10px;
width: 50vw;
}

.app-bar {
flex-grow: 1;
width: 80.5vw;
}

.master-container, .footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat {
    height: 50vh;
 background-color: whitesmoke;
}

.footer {
    margin: 40px;
    gap: 30px;
    height: 30vh;
    
}
.overall-progress, .workload {
    /* height: 80vh; */
    width: 35vw;
}